


<div class="main-visualbox" id="container">
    <div id="theTarget">
        <div class="main-visual"><%= image_tag 'top1.jpg', class: 'image-edit' %></div>
        <div class="main-visual"><%= image_tag 'top2.jpg', class: 'image-edit' %></div>
        <div class="main-visual"><%= image_tag 'top3.jpg', class: 'image-edit' %></div>
        <div class="main-visual"><%= image_tag 'top4.jpg', class: 'image-edit' %></div>
        <div class="main-visual"><%= image_tag 'top5.jpg', class: 'image-edit' %></div>
        <div class="main-visual"><%= image_tag 'top6.jpg', class: 'image-edit' %></div>
        <div class="main-visual"><%= image_tag 'top7.jpg', class: 'image-edit' %></div>
        <div class="main-visual"><%= image_tag 'top8.jpg', class: 'image-edit' %></div>
        <div class="main-visual"><%= image_tag 'top9.jpg', class: 'image-edit' %></div>
        <div class="main-visual"><%= image_tag 'top10.jpg', class: 'image-edit' %></div>
    </div>
</div>




















