


<div class="main-visualbox" id="container">
    <div id="theTarget"> 
        <% 8.times do |i| %>
        <div class="main-visual"><%= image_tag "top#{i+1}.jpg", class: 'image-edit' %></div>
        <% end %> 
    </div>
</div>
<div class="app-explain">
	<p class="exp-japanese">あなたのやりたいことがすぐできる</p>
	<p class="exp-japanese">イベントの企画から参加まで、さまざまなジャンルで交流ができる</p>
	<p class="exp-japanese">新しい出会いで人生をもっと楽しみませんか？</p>
	<p class="exp-english">It is possible to want to do something immediately. You can make an event, and the participation is possible, too</p>
	<button type="button" class="btn btn-success center-block"><%= link_to "Let's try", new_user_registration_path %>
	</button>
</div>

<div class="event-make-research">
    <h2 class="col-md-12 text-center">MAIN SERVICE</h2>
    <div class="col-md-1"></div>
    <div class="col-md-5 make">
        <h3><i class="fa fa-plus fa-2x" aria-hidden="true"></i>Make an event</h3> 
        <p>あなたの趣味や好きなことをみんなで楽しもう</p>
        <div class="go-to-new-event">
            <i class="fa fa-hand-o-right" aria-hidden="true">
                <%= link_to new_event_path, class: 'btn btn-default fix-indent', type: 'button' do %>
                    Make an event <span class="fa fa-edit fa-lg"></span>
                <% end %>
            </i></div>
    </div>
    <div class="col-md-5 research">
    	<h3><i class="fa fa-search-plus fa-2x" aria-hidden="true"></i>Search events</h3>
    	<p>既に作成されたあなたに合うイベントを探す</p>
    	<div class="go-to-research-event dropdown">
            <i class="fa fa-hand-o-right" aria-hidden="true"><%= render template: 'events/_search_dropdown' %>        
            </i>
        </div>
    </div>
    <div class="col-md-1"></div>	
</div>
<div class="BBS-box">
	<h2>Bulletin board system</h2>
	<ul>Recently</ul>
	<div class="BBS-title-box">
		<% @random_posts.each do |t| %>
		    <li>★<%=link_to t.title, "/posts/#{t.id}" %></li>
	    <% end %>
    </div>
</div>

<footer>
	<p>Copyright &copy; 2016 keitapontagutigutiyasui All Reserved.</p>
</footer>




















