<div class="col-md-1"></div>

<div class="col-md-5">
<h1 class="user-info-date-LL">MY PAGE</h1> 
  <section class="image-box">
    <span class="label">IMAGE</span>
    <%= user_image(@user) %>
  </section>

  <section class="base-sentence">
    <span class="label label-danger user-info-head">NAME</span>
    <h3 class="user-info-date-L"><%= @user.name %></h3>
  </section>
  <section class="base-sentence">
    <span class="label label-info user-info-head">GENDER</span>
    <%= user_gender(@user) %>
  </section>
  <section class="base-sentence">
    <span class="label label-warning user-info-head">NATIONALITY</span>
    <h3 class="user-info-date-L"><%= @user.nationality %></h3>
  </section>
  
  <section class="base-sentence">
    <span class="label label-success user-info-head">INTRODUCTION</span>
    <h3 class="user-info-date-M"><%= @user.inform %></h3>
  </section>

  <section class="user-info-head">
    <p><%= link_to 'LOGIN EDIT', edit_user_registration_path %></p>
    <p><%= link_to 'PROFILE EDIT', edit_user_path %></p>
  </section>
  <% @event.each do |event| %>
  <section class="post-panel">
    <tbody>
      <tr>
        <% if event.image? %>
          <td rowspan="2">
        　   <%= link_to event_path(event) do %><%= image_tag event.image.url, class: "img-responsive img-rounded event-samnail" %><% end %>
          </td>
        <% else %>
          <td rowspan="2">
            <%= link_to event_path(event) do %><%= image_tag 'noimage.gif', class: "img-responsive img-rounded event-samnail" %><% end %>
          </td> 
        <% end %>
        <td class=""><%= link_to event.title, event_path(event), class: "index-title label label-info padding-adj" %></td>
        <td class="padding-adj"><%= event.day %></td>
        <td class="padding-adj"><%= event.area %></td>
        <td class="padding-adj"><%= event.capacity %></td>
        <td class="padding-adj">Comment<strong class="label label-info"><%= event.comments.count %></strong></td>
      </tr>
      <tr>
        <td class="index-detail jumbotron" colspan="3" ><%= event.body %></td>
      </tr>
   </section>
    </div>
    <% end %>
</div>

<div class="col-md-5"></div>

<div class="col-md-1"></div>
