<div class="event-box">
  
  <% if flash[:notice] == "No results." %>
    <div id="notice" class="well">
      <%= search_form_for Event.search(params[:q]) do |f| %>
        <strong><%= notice %>Try Again.</strong>
        <div class="form-group">
          <%= f.label :title_or_body_cont, 'Keywords' %><br>
          <%= f.search_field :title_or_body_cont, class: 'form-control' %>
        </div>
        <div class="action">
          <%= f.submit class: "btn btn-primary form-control" %>
        </div>
      <% end %>
    </div>
  <% elsif flash[:notice].present? %>
    <div id="notice" class="well">
      <strong><%= notice %></strong>
    </div>
  <% end %>


<%= link_to "Create Event!", new_event_path, class: "btn btn-success form-control create-event-btn" %>

<% if @events.present? %>



<table class="event-list">
<% @events.each do |event| %>


<tbody>
      <tr class="index-table">
        <td rowspan="3" class="samnail-cell">
          <% if event.image? %>
            <%= link_to event_path(event) do %>
              <%= image_tag event.image.url, class: "event-samnail" %>
            <% end %>
          <% else %>
            <%= link_to event_path(event) do %>
              <%= image_tag 'noimage.gif', class: "event-samnail" %>
            <% end %>  
          <% end %>

          <% if event.comments.count > 0 %>
            <strong class="label label-info comments-count"><%= event.comments.count %></strong>
          <% end %>
        </td>
        <td colspan="4">
          <% if event.tags.exists? == true %>
            <object><%= render 'tags', tags: event.tags %></object>
          <% else %>
            <object>&nbsp;</object>
          <% end %>
        </td>
      </tr>
      <tr>
        <td rowspan="1"><%= link_to event.title, event_path(event), class: "index-title label label-info" %> </td>
        <td><p><%= event.day %></p></td>
        <td><p><%= event.area %></p></td>
        <td><p><%= event.capacity %></p></td>
      </tr>
      <tr>
        <td colspan="4">
          <% if event.body? %> 
            <span class="index-detail"><%= event.body %></span>
          <% else %>
            <span class="index-detail" style="background-color: transparent;"></span> 
          <% end %>
          
        </td> 
      </tr>
</tbody>


<% end %>
</table> 




<%= link_to "Create Event!", new_event_path, class: "btn btn-success form-control create-event-btn" %>

<% end %>


</div>