<div class="event-box">


  
  <% if flash[:notice] == "No results." %>
    <div id="notice" class="well">
      <%= search_form_for Event.search(params[:q]) do |f| %>
        <strong><%= notice %>Try Again.</strong>
        <div class="form-group">
          <%= f.label :title_or_body_cont, 'Keywords' %><br>
          <%= f.search_field :title_or_body_cont, class: 'form-control' %>
        </div>
        <div class="action">
          <%= f.submit class: "btn btn-primary form-control" %>
        </div>
      <% end %>
    </div>
  <% elsif flash[:notice].present? %>
    <div id="notice" class="well">
      <strong><%= notice %></strong>
    </div>
  <% end %>


<%= link_to "Create Event!", new_event_path, class: "btn btn-success form-control create-event-btn" %>

<% if @events.present? %>


<% @events.each do |event| %>
  <div class="link-box">
    <table>
      <%= link_to event_path(event),class: "link" do %>
        <tbody>
          <tr>
            <td rowspan="3" class="samnail-cell">
              <% if event.image? %>
                  <%= image_tag event.image.url, class: "img-size-adj event-samnail" %>
              <% else %>
                  <%= image_tag 'noimage.gif', class: "img-size-adj event-samnail" %> 
              <% end %>
              <% if event.comments.count > 0 %>
                <strong class="label label-info comments-count"><%= event.comments.count %></strong>
              <% end %>
              <strong class="label capacity-count"><%= event.joins.count %>/<%= event.capacity %></strong>
            </td>

            <td colspan="5" rowspan="1" class="title-cell">
              <span class="index-title label label-info"><%= event.title %></span>
            </td>

            <td colspan="3" rowspan="3" class="detail-cell">
              <% if event.body? %> 
                <span class="index-detail"><%= event.body %></span>
              <% else %>
                <span class="index-detail" style="background-color: transparent;"></span> 
              <% end %>
            </td> 
          </tr>

          <tr>            
            <td colspan="5" class="overview-cell">
                <% if event.area.blank? == false %>
                  <span class="label label-default">@<%= event.area %></span>
                <% end %>
                <% if event.day.blank? == false %>
                  <span class="label label-default"><%= event.day %></span>
                <% end %>      
            </td>
          </tr>

          <tr>
            <td colspan="5" class="tag-cell">
              <% if event.tags.exists? == true %>
                  <%= render 'tags', tags: event.tags %>
                <% else %>
                  <span>&nbsp;</span>
                <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    
      <input type="hidden" name="eventCapacity" class="eventCapacity" value=<%= event.capacity %> >
      <input type="hidden" name="eventJoins" class="eventJoins" value=<%= event.joins.count %> >

    </table>
  </div>
<% end %>

<%= link_to "Create Event!", new_event_path, class: "btn btn-success form-control create-event-btn" %>

<% end %>

</div>