<div class="event-box">
  
  <% if flash[:notice] == "No results." %>
    <div id="notice" class="well">
      <%= search_form_for Event.search(params[:q]) do |f| %>
        <strong><%= notice %>Try Again.</strong>
        <div class="form-group">
          <%= f.label :title_or_body_cont, 'Keywords' %><br>
          <%= f.search_field :title_or_body_cont, class: 'form-control' %>
        </div>
        <div class="action">
          <%= f.submit class: "btn btn-primary form-control" %>
        </div>
      <% end %>
    </div>
  <% elsif flash[:notice].present? %>
    <div id="notice" class="well">
      <strong><%= notice %></strong>
    </div>
  <% end %>


<%= link_to "Create Event!", new_event_path, class: "btn btn-success form-control create-event-btn" %>

<% if @events.present? %>



<table class="table">
<tbody>
<% @events.each do |event| %>

<%= link_to event_path(event) do %>
  
      <tr>
        <% if event.image? %>
          <td rowspan="2">
        　   <%= link_to event_path(event) do %><%= image_tag event.image.url, class: "img-responsive img-rounded event-samnail" %><% end %>
          </td>
        <% else %>
          <td rowspan="2">
            <%= link_to event_path(event) do %><%= image_tag 'noimage.gif', class: "img-responsive img-rounded event-samnail" %><% end %>
          </td> 
        <% end %>
<div class="padding-adj">
        <td class=""><%= link_to event.title, event_path(event), class: "index-title label label-info padding-adj" %></td>
        <td class="padding-adj"><%= event.day %></td>
        <td class="padding-adj"><%= event.area %></td>
        <td class="padding-adj"><%= event.capacity %></td>
        <td class="padding-adj"><%= render 'tag_list', tag_list: event.tag_list %></td>
        <td class="padding-adj">Comment<strong class="label label-info"><%= event.comments.count %></strong></td>
</div>
      </tr>
      <tr>
        <td class="index-detail jumbotron" colspan="6" ><%= event.body %></td>
      </tr>
           
<% end %>
       
<% end %>
</tbody> 
</table> 




<%= link_to "Create Event!", new_event_path, class: "btn btn-success form-control create-event-btn" %>

<% end %>


</div>