<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Find your Events! <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">

	<%= search_form_for Event.search(params[:q]) do |f| %>

  <p>Search from...</p>

 	<div class="form-group">
    <%= f.label :title_or_body_cont, 'Keywords:' %><br>
    <%= f.search_field :title_or_body_cont, class: 'form-control' %>
	</div>

  <div class="form-group">
    <%= f.label :day_cont, 'Date:' %><br>
    <div class='input-group date datepicker'>
      <span class="input-group-addon">
        <span class="fa fa-calendar"></span>
      </span>
      <%= f.search_field :day_cont, class: 'form-control' %>
    </div>
	</div>

  <div class="form-group">
  	<%= f.label :area_start, 'Area:' %><br>
  	<%= f.search_field :area_start, class: 'form-control' %>
	</div>

	<div class="actions">
   	<%= f.submit class: "btn btn-primary" %>
	</div>

	<% end %>

	</ul>
</div>