<div class="event-box">
  
  <% if flash[:notice] == "No results." %>
    <div id="notice" class="well">
      <%= search_form_for Event.search(params[:q]) do |f| %>
        <strong><%= notice %>Try Again.</strong>
        <div class="form-group">
          <%= f.label :title_or_body_cont, 'Keywords' %><br>
          <%= f.search_field :title_or_body_cont, class: 'form-control' %>
        </div>
        <div class="action">
          <%= f.submit class: "btn btn-primary form-control" %>
        </div>
      <% end %>
    </div>
  <% elsif flash[:notice].present? %>
    <div id="notice" class="well">
      <strong><%= notice %></strong>
    </div>
  <% end %>


<%= link_to "Create Event!", new_event_path, class: "btn btn-success form-control create-event-btn" %>

<% if @events.present? %>

<table class="table table-hover table-condensed index-table">
  <thead>
    <th>Image</th>
    <th>Title</th>
    <th>Text</th>
    <th>Date</th>
    <th>Place</th>
    <th>Capacity</th>
    <th>Tag</th>
    <th>Comment</th>
  </thead>

  <tbody>

  <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <tr>
        <% if event.image? %>
        　 <td><%= image_tag event.image.url, class: "img-responsive img-rounded event-samnail" %></td>
        <% else %>
          <td><%= image_tag 'noimage.gif', class: "img-responsive img-rounded event-samnail" %></td>
        <% end %>

        <td><%= link_to event.title, event_path(event) %></td>
        <td><%= event.body %></td>
        <td><%= event.day %></td>
        <td><%= event.area %></td>
        <td><%= event.capacity %></td>
        <td><%= render 'tag_list', tag_list: event.tag_list %></td>
        <td>Comment<strong class="label label-info"><%= event.comments.count %></strong></td>
      </tr>
    <% end %>
  <% end %>

  </tbody>
</table>

<%= link_to "Create Event!", new_event_path, class: "btn btn-success form-control create-event-btn" %>

<% end %>

</div>