<div class="center-block base-width">


<p id="notice"><%= notice %></p>


<% if @event.image? %>
  <p><%= image_tag @event.image.url %></p>
<% else %>
  <p><%= image_tag 'noimage.gif' %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @event.body %>
</p>

<p>
	<strong>Place:</strong>
	<%= @event.area %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.day %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @event.capacity %>
</p>

<p>
  <strong>Tag:</strong>
  <%= render 'tag_list', tag_list: @event.tag_list %>
</p>

<% @event.comments.each do |comment| %>

    <pre><%= comment.body %></pre>
<% end %>

<%= form_for([@event,@event.comments.build]) do |f| %>
    <p><%= f.label :body %></p><br>
    <p><%= f.text_area :body, :rows => 5 ,:cols => 90 %></p>
    <%= f.submit 'コメントを投稿する' %>
  <% end %>
<% if @event.joins.count < @capacity %>
  <% if @event.joined_by? current_user %>
    <%= link_to "JOIN解除", event_joins_path(@event), class:"btn btn-info", method: :delete %>
  <% else %>
    <%= link_to "JOIN",event_joins_path(@event), class:"btn btn-info", method: :post %>
  <% end %>
<% else %>
  人数オーバーです。参加できません
<% end %>
<p><%= link_to 'Edit', edit_event_path(@event), class: "btn btn-success" %></p>
<p><%= link_to 'Back', events_path, class: "btn btn-link" %></p>

<div class="center-block base-width">
