<% @event.comments.each do |comment| %>

    <pre><%= comment.body %></pre>
<% end %>

<%= form_for([@event,@event.comments.build]) do |f| %>
    <p><%= f.label :body %></p><br>
    <p><%= f.text_area :body, :rows => 5 %></p>
    <%= f.submit 'コメントを投稿する' %>
  <% end %>
 